[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
opencv-python = "*"
sklearn = "*"
#torch = "==0.4.0"
torch = "*"
pillow = "*"
torchvision = "*"

[requires]
python_version = "3.6"
